<div class="row content-center">
  <div class="col-xs-12 col-sm-10 col-md-8">
    <h1 class="shadow-sm p-2 mb-4 bg-light rounded-lg text-center">Images Feed</h1>

    <%= paginate @images %>
    <h6 class="text-center"><%= page_entries_info @images %></h6>

    <% @images.each do |image| %>
      <%= link_to(image) do %>
        <%= image_tag(image.picture.url, class: "img-fluid") if image.picture? %>
      <% end %>
      <div class="p-1 bg-primary text-white text-center">
        <h5><strong><%= image.name %></strong></h5>
      </div>
      <div class="p-1 bg-dark text-white text-center">
        <h5>User: <strong><%= image.user.email.split('@')[0] %></strong></h5>
      </div>
      <br>
    <% end %>

    <%= paginate @images %>
  </div>
</div>
